@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif !important;
}
.ql-container {
  min-height: 10rem !important;
}

.ql-container.ql-snow {
  border: none !important;
}
.ql-container.ql-snow .ql-editor {
  min-height: 10rem !important;
  border: 1px solid #29292928 !important;
  border-radius: 5px !important;
  cursor: text !important;
  max-height: 30rem !important;
}
.ql-container.ql-snow .ql-editor h1 {
  font-size: 1.5rem !important;
}
.ql-container.ql-snow .ql-editor h2 {
  font-size: 1.25rem !important;
}
.ql-container.ql-snow .ql-editor h3 {
  font-size: 1.1rem !important;
}
.ql-container.ql-snow .ql-editor h4 {
  font-size: 1rem !important;
}
.ql-container.ql-snow .ql-editor h5 {
  font-size: 0.875rem !important;
}
.ql-container.ql-snow .ql-editor h6 {
  font-size: 0.75rem !important;
}
.ql-container.ql-snow .ql-editor p {
  font-size: 1rem !important;
}
.ql-container.ql-snow .ql-editor ol {
  font-size: 1rem !important;
}
.ql-container.ql-snow .ql-editor ul {
  font-size: 1rem !important;
}
.ql-container.ql-snow .ql-editor li {
  font-size: 1rem !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
}

.ais-Highlight-highlighted {
  font-weight: bold !important;
}
.ais-Hits-item {
  border: none !important;
  border-bottom: 1px solid #6e6e6e1c !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out !important;
  background-color: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.ais-Hits-item:hover {
  background-color: #cecece38 !important;
}

.ais-RefinementList-list li {
  transition: all 0.2s ease-in-out !important;
}
.ais-RefinementList-list li:hover {
  background-color: #dddddd2c !important;
}

.ais-Pagination-item > * {
  background-image: none !important;
}

.ais-Dropdown--opened .ais-Panel-body {
  display: flex !important;
  gap: 0.5rem !important;
}
.ais-SearchBox-form {
  background: none !important;
}
.ais-SearchBox-form input {
  background-color: unset;
  border: none !important;
  border-radius: 5px;
}
.ais-ToggleRefinement-checkbox {
  background-color: #549b978c !important;
}
.ais-ToggleRefinement-checkbox:checked {
  background-color: #38b2ac !important;
}
.ais-Dropdown.ais-Panel {
  flex: 1;
}

table th:first-child {
  /* border-radius = top left, top right, bottom right, bottom left */
  border-radius: 5px 0 0 0;
  /* curves the top left */
}

table th:last-child {
  border-radius: 0 5px 0 0; /* curves the top right */
}
